@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


.header{
    background: #161D2F;
    color: #fff;
}


.container{
    margin: 0 165px;
    padding: 11.5px 15px;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

.menu__ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.menu__ul__item a{
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}


.menu__ul__item a:hover{
    opacity: 1;
}



.join-btn{
    background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
    border-radius: 28px;
    padding: 12.5px 37px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border: none;
    cursor: pointer;
}



.hero{
    text-align: center;
}

.hero__span{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 150%;
    margin-bottom: 20px;
}

.hero__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
}

.hero__btn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-btn{
    background: none;
    border: #fff 1px solid;
    border-radius: 28px;
    padding: 12.5px 37px;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
}

.video__btn{
    display: block;
    width: 100%;
    height: 600px;
    background: url('./img/play-circle.svg') center center no-repeat, url('./img/phisical-work.jpg') center center no-repeat;
    border-radius: 10px;
    margin: 30px 0 50px;
}




.main{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.programs{
    text-align: center;
}

.programs__span{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    text-transform: uppercase;
}

.programs__h2{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-transform: capitalize;
    color: #222;
}



.programs__slider{
    text-align: left;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.slider__wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    overflow-x: hidden;
}

.slider__card{
    flex-basis: 30%;
    max-width: 340px;
}

.slide__img{
    border-radius: 10px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    display: block;
    width: 350px;
    height: 240px;
    margin-bottom: 20px;
}

.slide__img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #222;
}

.slider__card__span{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #222;
    margin-bottom: 10px;
}

.slider__p{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #4B4B4B;
    margin-bottom: 20px;
}

.slider__a{
    background: url('./img/strelka-not-slider.svg') center right no-repeat;
    padding-right: 30px;
    color: #3043A9;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}




.nutritions > .container{
    display: flex;
    gap: 60px;
    align-items: center;
}


.nutrition__left__side{
    flex-basis: 55%;
    position: relative;
    height: 484px;
}

.discipline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 17px 37px 17px 77px;
    background: url('img/trophy\ 1.svg') top 15px left 37px no-repeat, #161D2F;
    border-radius: 10px;
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    z-index: 4;
}



.eating-helthy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 17px 15px 16px 55px;
    background: url('img/hours.svg') top 15px left 15px no-repeat, #262626;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    z-index: 4;
}


.water, .slicing{
    border-radius: 10px;
    position: absolute;
}

.water{
    top: 0;
    right: 33px;
    z-index: 2;
}


.slicing{
    bottom: 0;
    left: 0;
    z-index: 3;
}





.nutrition__right__side{
    flex-basis: 40%;
}



.nutritions__span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #222222;
}

.nutritions__h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-transform: capitalize;
    color: #161D2F;
    margin-bottom: 10px;
}

.nutritions__p{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #222222;
    margin-bottom: 30px;
}

.pricing{
    padding: 100px 0;
    position: relative;
}


.pricing__span{
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pricing__h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 30px;
}


.pricing__cardzone{
    justify-content: center;
    display: flex;
    gap: 30px;
    align-items: flex-start;

}


.card{
    width: 100%;
    max-width: 350px;
    flex-basis: 30%;
    background: #fff;
    border-radius: 35px;
    height: 682px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 16px 35px rgba(112, 144, 176, 0.2);
}


.card__popular__label{
    position: absolute;
    width: 76px;
    background: #63C776;
    border-radius: 0px 35px;
    top: 0;
    right: 0;
    height: 75px;
    color: #fff;
    padding: 27px 10px;
}


.btn__card{
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
}


.card__top img{
    border-radius: 8px;
    display: block;
    margin: 10px auto;
}


.cards__naming{
    margin-top: 30px;
    align-items: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #161D2F;
}


.pricing__name__p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #222222;
    margin-bottom: 10px;
}

.pricing__ul{
    margin-left: 83px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
}


.pricing__ul li{
    background: url('img/check.svg') center left no-repeat;
    padding-left: 33px;
}





.card__bottom{
    display: flex;
    flex-direction: column;
    gap: 30px;
}




.card__bottom__p{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #222222;
}

.card__bottom__p span{
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #161D2F;

}


.pricing__bg{
    width: 100%;
    height: 600px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, #09203F 0%, #161D2F 100%);
    z-index: -1;
}





.aboutus{
    padding: 100px 165px;
    text-align: center;
}

.aboutus__container{
    display: flex;
    flex-direction: column;
}

.aboutus__span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 10px;
}

.aboutus__h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #161D2F;
    margin-bottom: 30px;
}

.about__info__zone{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}


.info__block__count{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center; 
    color: #161D2F;

}


.info__block__p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #161D2F;
}

.empty__grey{
    height: 96px;
    opacity: 0.4;
    border: 0.5px solid #161D2F;
    background: #161D2F;
}


.form__wrapper{
    background: #161D2F;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.skills__box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;
}


.skill{
    display: flex;
    align-items: flex-start;
    max-width: 540px;
    width: 100%;
    gap: 30px;
}


.skill__main__p{
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-transform: capitalize;
    color: #161D2F;
}


.skill__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-transform: capitalize;
    color: #222222;
}

.skill__img{
    width: 70px;
}


.form{
    margin-bottom: 100px;
}

.left__form__side{
    flex-basis: 60%;
}

.form__h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 30px;
}


.form__input-btn{
    display: flex;
    gap: 30px;
    align-items: center;
}


.form__input{
    padding: 17px 146px 16px 24px;
    border: 1px solid #FFFFFF;
    border-radius: 34px;
    background: none;
}

.form__input::placeholder{
    color: #fff;
}




.pop__up{
    position: fixed;
    width: 600px;
    height: 40px;
    bottom: 30px;
    left: 50%;
    right: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: #161D2F;
    display: flex;
}

.pop__up__text{
    color: #FFFFFF;
}




.footer{
    border-top: 1px solid #E5E5E5;
    padding-top: 47px;
    text-align: center;
}



.footer__logo a{
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #161D2F;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer__p{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    text-transform: capitalize;
    color: #222222;
    margin-bottom: 10px;
}


.footer__left{
    display: flex;
    flex-direction: column;
    max-width: 445px;
    flex-basis: 45%;
}

.footer__icons{
    display: flex;
    gap: 6px;
}

.footer__icon{
    text-decoration: none;
}


.footer__sec{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 42px;
}

.footer__all__columns{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.columns__zone{
    display: flex;
    justify-content: space-between;
    flex-basis: 55%;
}


.footer__h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #161D2F;
}


.footer__column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer__columns__p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}


.footer__bottom__span{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #222222;
}

